
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
	<div class="login-container__main">
		<div class="column-image">
			<div class="column-image__container">
				<img src="{% static 'images/login_screenshot1.jpg' %}" alt="">
			</div>
		</div>
		<div class="column-menu">
			<div class="login flex-col">
				<div class="logo_login"></div>
				<div class="login-menu flex-col">
					<form action="" method="post">
						{% csrf_token %}
						<p class="login-menu__p">
							<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="전화번호, 사용자 이름 또는 이메일">
							<input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="비밀번호">
						</p>
						<input type="submit" value="로그인" class="login-btn">
					</form>
					<div class="alter-login__container">
						<div class="alter-login__hr"></div>
						<div class="alter-login__text">또는</div>
						<div class="alter-login__hr"></div>
					</div>
					<div class="fb-login__container flex-col">
						<a href="">
							<span class="fb-icon"></span>
							<span class="fb-text">Facebook으로 로그인</span>
						</a>
						<a href="">
							<span class="find-password">비밀번호를 잊으셨나요?</span>
						</a>
					</div>
				</div>
			</div>
			<div class="signup">
				<div class="signup-text">계정이 없으신가요? </div>
				<a href="">가입하기</a>
			</div>
			<div class="download"></div>
			<div class="download-links"></div>
		</div>
	</div>
</div>
<footer class="login-footer flex-col">
	<div class="footer-container flex-col">
		<div class="login-footer__line">
			<span>소개</span>
			<span>블로그</span>
			<span>채용 정보</span>
			<span>도움말</span>
			<span>API</span>
			<span>개인정보처리방침</span>
			<span>약관</span>
			<span>인기 계정</span>
			<span>해시태그</span>
			<span>위치</span>
			<span>Instagram Lite</span>
		</div>
		<div class="login-footer__line">
			<span>뷰티</span>
			<span>댄스</span>
			<span>피트니스</span>
			<span>식음료</span>
			<span>집 및 정원</span>
			<span>음악</span>
			<span>시각 예술</span>
		</div>
		<div class="login-footer__line">
			<span>한국어</span>
			<span>© 2021 Instagram from Facebook</span>
		</div>
	</div>
</footer>
{% endblock %}