{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<div class="photolist-container">
  <section class="photolist-container__main">
    <div class="main-column">
      {% for object in object_list %}
      <article class="photolist-content">
        <div class="photolist-content__header">
          <div class="photolist-content__profile">
            <img src="{% static 'images/profile.png' %}" alt="" class="profile-image">
            <span><strong>{{ object.author }}</strong></span>
          </div>
          <div class="photolist-content__morebtn">
            <button>
              <img src="{% static 'images/more.svg' %}" alt="">
            </button>
          </div>
        </div>
        <div class="photolist-content__photo">
          <img src="{{ object.image.url }}" alt="" class="card-img-top">
        </div>
        <div class="photolist-content__body flex-col">
          <div class="content-body__actions">
            {% if user in object.like.all %}
            <a href="{% url 'photo:like' object.id %}" class="content-body__btn">
              <svg aria-label="좋아요 취소" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
            </a>
            {% else %}
            <a href="{% url 'photo:like' object.id %}" class="content-body__btn btn-like">
              <!-- sprite 기법 사용 -->
            </a>
            {% endif %}
            <a href="{% url 'photo:detail' object.id %}" class="content-body__btn btn-comment">
              <svg aria-label="댓글 달기" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
            </a>
            <a href="" class="content-body__btn btn-message">
              <svg aria-label="게시물 공유" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M47.8 3.8c-.3-.5-.8-.8-1.3-.8h-45C.9 3.1.3 3.5.1 4S0 5.2.4 5.7l15.9 15.6 5.5 22.6c.1.6.6 1 1.2 1.1h.2c.5 0 1-.3 1.3-.7l23.2-39c.4-.4.4-1 .1-1.5zM5.2 6.1h35.5L18 18.7 5.2 6.1zm18.7 33.6l-4.4-18.4L42.4 8.6 23.9 39.7z"></path></svg>
            </a>
            <a href="{% url 'photo:favorite' object.id %}" class="content-body__btn btn-favorite">
              {% if user in object.favorite.all %}
              <svg aria-label="삭제" class="_8-yf5 " color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 28.9 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1z"></path></svg>
              {% else %}
              <svg aria-label="저장" class="_8-yf5 " color="#8e8e8e" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path></svg>
              {% endif %}
            </a>
          </div>
          <div class="content-body__likes">좋아요 {{ object.like.all.count }}개</div>
          <div class="content-body__text">
            <strong>{{ object.author }}</strong> {{ object.text|truncatewords:20 }}
          </div>
          <div class="content-body__datetime">
            <small>0시간 전</small>
          </div>
          <!-- <div class="content-body__reply">댓글 달기</div> -->
          <a href="{% url 'photo:detail' object.id %}" class="card-link">댓글달기</a>
          {% if user == object.author %}
          <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
          <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
    <div class="side-column">
      <!-- <div>myprofile</div>
      <div>recommendation</div> -->
    </div>
  </section>
</div>
{% endblock %}