{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Instagram {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
  <header class="header">
    <nav class=navbar>
      <div class="navbar-container">
        <div class="navbar-container__left">
          <div class="navbar-logo">
            <a href="/"><img src="{% static 'images/logo_instagram.png' %}"></a>
          </div>
        </div>
        <div class="navbar-container__middle">
          <div class="navbar-searchbox">
            <input type="text" name="" placeholder="">
            <div class="navbar-searchbox__placeholder">
              <img src="{% static 'images/search.svg' %}" class="navbar-searchbox__image">
              <span class="navbar-searchbox__text">검색</span>
            </div>
          </div>
        </div>
        <div class="navbar-container__right">
          <a href="{% url 'photo:index' %}">
            <img src="{% static 'images/home.png' %}" class="navbar__menu navbar__menu-home">
          </a>
          <a href="">
            <img src="{% static 'images/message.png' %}" class="navbar__menu navbar__menu-message">
          </a>
          <a href="">
            <img src="{% static 'images/explore.png' %}" class="navbar__menu navbar__menu-explore">
          </a>
          <a href="">
            <img src="{% static 'images/like.png' %}" class="navbar__menu navbar__menu-notice">
          </a>
          <a href="">
            <img src="{% static 'images/profile.png' %}" class="navbar__menu navbar__menu-profile">
          </a>
          {% if user.is_authenticated %}
          <a href="{% url 'accounts:logout' %}" class="">로그아웃</a>
          <a href="{% url 'photo:create' %}">사진 올리기</a>
          {% else %}
          <a href="{% url 'accounts:login' %}" class="">로그인</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  {% if messages %}
  <div class="message">
    {% for message in messages %}
    <div class="message-content">
      <p>{{ message }}</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% block content %}
  {% endblock %}
  {% endif %}

  
</body>

</html>